/* tab style */

.amber_tab .ajax__tab_header 
{
	font-family:verdana,tahoma,helvetica;
    font-size:11px;
    background:url('/Images/bg.gif') repeat-x bottom;

}
.amber_tab .ajax__tab_header .ajax__tab_outer
{
	padding-right:4px;
    background:url(/Images/tab-right.gif) no-repeat right;
    height:21px;
}
.amber_tab .ajax__tab_header .ajax__tab_inner
{   padding-left:3px;
    background:url(/Images/tab-left.gif) no-repeat;
}
.amber_tab .ajax__tab_header .ajax__tab_tab
{
    height:13px;
    padding:4px;
    margin:0;
    background:url(/Images/tab.gif) repeat-x;
}
.amber_tab .ajax__tab_hover .ajax__tab_outer
{
    background:url(/Images/tab-hover-right.gif) no-repeat right;
}
.amber_tab .ajax__tab_hover .ajax__tab_inner
{
    background:url(/Images/tab-hover-left.gif) no-repeat;
}
.amber_tab .ajax__tab_hover .ajax__tab_tab 
{
    background:url(/Images/tab-hover.gif) repeat-x;
}
.amber_tab .ajax__tab_active .ajax__tab_outer
{
    background:url(/Images/tab-active-right.gif) no-repeat right;
}
.amber_tab .ajax__tab_active .ajax__tab_inner
{
    background:url(/Images/tab-active-left.gif) no-repeat;
}
.amber_tab .ajax__tab_active .ajax__tab_tab 
{
    background:url(/Images/tab-active.gif) repeat-x;
}
.amber_tab .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    height:2px;
    font-size:10pt;
    border:2px;
    border-top:2px;
    border-bottom:0px;
    padding:0px;
    border-style:ridge;
    border-color:White;
    background-color:Transparent;
}
